<link rel="stylesheet" href="/css/dashboard.css">

<div class="titles">
  <div class="main-title">
    <h2>
      Carrer Camp
    </h2>
  </div>
  <div class="heading-titles">
    <h3>
      Students
    </h3>
    
    <h3>
      Jobs / Interviews
    </h3>
  </div>
</div>

<main>
  <div class="students-container">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item bg-success-subtle my-2">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#s1" aria-expanded="false" aria-controls="s1">
            Accordion Item #1
          </button>
        </h2>
        <div id="s1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-success-subtle my-2">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#s2" aria-expanded="false" aria-controls="s2">
            Accordion Item #1
          </button>
        </h2>
        <div id="s2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-success-subtle my-2">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#s3" aria-expanded="false" aria-controls="s3">
            Accordion Item #1
          </button>
        </h2>
        <div id="s3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jobs-container">
    <div class="accordion" id="accordionExample2">
      <div class="accordion-item bg-success-subtle my-2">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#j1" aria-expanded="false" aria-controls="j1">
            Accordion Item #1
          </button>
        </h2>
        <div id="j1" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-success-subtle my-2">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#j2" aria-expanded="false" aria-controls="j2">
            Accordion Item #1
          </button>
        </h2>
        <div id="j2" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-success-subtle my-2">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#j3" aria-expanded="false" aria-controls="j3">
            Accordion Item #1
          </button>
        </h2>
        <div id="j3" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>