<link rel="stylesheet" href="/css/header.css">

<div class="navbar-container">
    <nav class="navbar navbar-expand-lg py-0">
        <div class="container-fluid d-flex">
            <a class="navbar-brand ms-1" href="/dashboard"><img src="/images/logo.png" alt="Logo Pic" width="230px"
                    height="50px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <% if(locals.user){ %>
                    <ul class="navbar-nav ms-auto me-3 my-4 my-lg-0">
                        <h3 class="text-light mx-3 my-auto name-heading">Hi, <%= locals.user.firstName %></h3>
                        <img class="mx-2 rounded-5" src="<%= locals.user.avatar %>" alt="User Profile" height="40px" width="40px" onerror="this.src='/images/user_profile.png';">
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Profile
                            </a>
                            <ul class="nav-dropdown dropdown-menu bg-dark">
                                <li><a class="dropdown-item" href="/users/profile">Edit Profile</a></li>
                                <li>
                                    <form method="POST" action="/users/update-profile/<%= locals.user._id %>" id="profile-form" enctype="multipart/form-data">
                                        <label class="dropdown-item" for="file-upload">Change Profile Picture</label>
                                        <input id="file-upload" type="file" name="avatar" accept="image/*" placeholder="Profile picture">
                                    </form>
                                </li>
                                <li>
                                    <hr class="dropdown-divider bg-light">
                                </li>
                                <li><a class="dropdown-item" href="/users/delete-session">Sign Out</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/jobs/portal">Job Portal</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/students/profile">Students</a>
                        </li>
                    </ul>
                <% }else{ %>
                    <ul class="navbar-nav ms-auto me-3 my-4 my-lg-0">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/">Homepage</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/jobs/portal">Job Portal</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/users/sign-in">Sign In</a>
                        </li>
                    </ul>
                <% } %>
                <!-- <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div> -->
            </div>
        </div>
    </nav>
</div>

<script>
    $('#file-upload').on('change', function() {
            $('#profile-form').submit();
        });
</script>