<link rel="stylesheet" href="/css/homepage.css">

<main>
    <div class="container">
        <!-- the main contents of the page -->
        <p class="text-light fs-4 text-center mt-4 mb-5">
            Welcome to Make My Placement, where we specialize in simplifying your data management needs. In today's fast-paced corporate world, efficient data handling is crucial, and we are here to provide the perfect solution for your company's data compilation requirements.
            Our mission is to empower companies to manage their data seamlessly. We understand the challenges businesses face when it comes to downloading and compiling data for various reports. Our goal is to create a user-friendly interface that allows your employees to input data effortlessly into the database and download it in CSV format, ensuring a smooth and efficient workflow.
        </p>
        <p class="text-light fs-4 text-center mt-4 mb-5">
            Make My Placement has undertaken the development of a comprehensive web application to address the specific data management needs of Team Career Camp. The aim is to create an intuitive and efficient system that allows the team to maintain a database of student interviews seamlessly. By streamlining the data management process and incorporating bonus features, we aim to provide a comprehensive solution that enhances efficiency and productivity. Get ready to experience a new level of simplicity in data handling.
        </p>
    </div>

    <!-- the contact footer of the page -->
    <footer class="container pt-5">
        <p class="text-light fs-4 text-center fw-bold">Made with ❤️ in <b class="text-danger fw-bold">India</b> by
            <b class="text-danger fw-bold">Priyansh Srivastava</b></p>
        <p class="text-center fs-3 footer-tags">
            <a href="https://www.linkedin.com/in/priyansh-srivastava-3441b5145/" target="_blank">
                <i class="fa-brands fa-linkedin" style="color: rgb(10, 102, 194);"></i>
            </a>
            &nbsp;&nbsp;
            <a href="https://github.com/priyansh0206" target="_blank">
                <i class="fa-brands fa-github" style="color: #b8acac;"></i>
            </a>
            &nbsp;&nbsp;
            <a href="https://www.facebook.com/priyansh.srivastav.35?mibextid=ZbWKwL" target="_blank">
                <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
            </a>
            &nbsp;&nbsp;
            <a href="https://instagram.com/_itzpri?igshid=MzNlNGNkZWQ4Mg==" target="_blank">
                <i class="fa-brands fa-instagram" style="color: #b1214a;"></i>
            </a>
        </p>
    </footer>
</main>