<link rel="stylesheet" href="/css/sign_in.css">

<div class="signin-container">
    <form class="box" action="/users/create-session" method="POST">
        <h1>LOGIN</h1>
        <input type="text" name="username" placeholder="USERNAME" required>
        <input class="pswrd" type="password" name="password" placeholder="PASSWORD" required>
        <span class="show"><i class="fa-solid fa-eye-slash"></i></span>
        <input type="submit" name="" value="SUBMIT">
        <div class="signup">
            Not having account ? <a href="/users/sign-up"><b>Sign Up Now</b></a>
            <br><br>
            <a><b>Forgot Password</b></a>
        </div>	
    </form>	
</div>


<script src="/js/sign_in.js"></script>