<link rel="stylesheet" href="/css/sign_up.css">

<div class="signup-container">
    <form class="box" action="/users/create-user" method="POST">
        <h1>SIGN UP</h1>
        <input type="text" name="firstName" placeholder="First Name" required>
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="username" placeholder="Username" required>
        <input id="pswrd" type="password" name="password" placeholder="Password" required>
        <input id="confirm-pswrd" type="password" placeholder="Confirm Password" required>
        <h5 id="password-check"></h5>
        <input id="submit-button" type="submit" name="" value="SUBMIT" disabled>
        <div class="signin">
            Already having account ? <a href="/users/sign-in"><b>Sign In Now</b></a>
        </div>	
    </form>	
</div>

<script src="/js/sign_up.js"></script>