.navbar-container {
  background-color: rgba(5, 100, 22, 0.8); }
  .navbar-container .navbar-nav li a {
    color: white; }
  .navbar-container .navbar-nav li a:hover {
    color: black;
    background-color: #40ef83; }
