body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh; }
  body .overlay {
    background-color: rgba(124, 208, 236, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto; }
